a{
  text-decoration:none;
}

.header{
  height:90px;
  background-color: #800000;
  width:100%;
  position:fixed;
  z-index:10;
}
.header-logo{
  float:left;
  margin:23px 40px 0 60px;
  color:white;
  font-size:32px;
}
.header-list{
  float:left;

}
.header-list a{
  transition: 1s;
  line-height: 90px;
  float:left;
  color:white;
  padding: 0 20px;
}
.header-list a:hover{
  background-color:red;
}
/***********************************************************************/
.top-wrapper{
  height:650px;
  width:100%;
  padding-top:90px;
}
.left-space{
  width:68%;
  height:650px;
  float:left;
  background-color: white;

}
.left-space p{
  font-size:150px;
  font-weight: bold;
  text-align: center;
}
.right-space{
  width:30%;
  height:650px;
  float:right;
border-left: 3px solid red;
  background-color: #ffefef;
}
.menyu{
  width:70%;
  margin:auto;
  padding-top: 30px;
}
.menyu p{
  padding-top: 10px;
  border-bottom: 1px solid #ffaaaa;
}

/***********************************************************************/
.bottom-wrapper{
  height:400px;
  background-color: #ffc0cb;
  width:100%;
}

/***********************************************************************/
.footer{
  height:120px;
  background-color: #bc8f8f;

  padding:20px 60px 25px 60px;
}
.footer-logo{
  float:left;
  font-size:32px;
  line-height: 0px;
}
.footer-list{
float:right;

}
.footer-list a{
  color:black;
}
.footer-list li{
  margin-bottom:2px;
}

/***********************************************************************/

