a{
  text-decoration:none;
}

.header{
  height:90px;
  background-color: #800000;
  width:100%;
  position:fixed;
  z-index:10;
}
.header-logo{
  float:left;
  margin:23px 40px 0 60px;
  color:white;
  font-size:32px;
}
.header-list{
  float:left;

}
.header-list a{
  transition: 2s;
  line-height: 90px;
  float:left;
  color:white;
  padding: 0 20px;
}
.header-list a:hover{
  background-color:red;
}
/***********************************************************************/
.top-wrapper{
  height:650px;
  width:100%;
}
.image{
  position:relative;
}

.img2{
  z-index: -1;
  position:absolute;
  filter: blur(8px);
  width:100%;
  top:0;
}
.img1{
  height:650px;
  max-width:90%;
  margin: auto;
  display:block;

}
/***********************************************************************/
.bottom-wrapper{
  height:400px;
  background-color: #ffc0cb;
  width:100%;
}
.img3{
  height:267px;
  width:150px;
  float:left;
  margin:80px 0px 0px 160px;

}

.intro{
    background-color: #ffe4e1;
      width:38%;
      float:left;
      margin:60px 0px 0px 80px;
      padding:10px 20px;
}
/********************************************************************/

.under{
  height:380px;
  padding: 30px 0 70px 0;
  background-color: #ffe4e1;
}
.keireki{
  font-size:28px;
  font-weight: bold;
  text-align: center;

}
.keireki2{
  width:35%;
  margin: auto;
}


/***********************************************************************/
.footer{
  height:120px;
  background-color: #bc8f8f;

  padding:20px 60px;
}
.footer-logo{
  float:left;
  font-size:32px;
  line-height: 0px;
}
.footer-list{
float:right;

}
.footer-list a{
  color:black;
}

/***********************************************************************/
