.header{
  height:90px;
  background-color: #800000;
  width:100%;
}
/***********************************************************************/
.top-wrapper{
  height:450px;
  width:100%;
}
.image{
  position:relative;
}

.img2{
  z-index: -1;
  position:absolute;
  filter: blur(8px);
  width:100%;
  top:0;
  left:0;
}
.img1{
  height:450px;
  max-width:70%;
  text-align: center;
  display:inline-block;

}
/***********************************************************************/
.bottom-wrapper{
  height:500px;
  background-color: #ffc0cb;
  width:100%;
}
/***********************************************************************/
.footer{
  height:120px;
  background-color: #bc8f8f;
  width:100%;
}
/***********************************************************************/
